body {
	background-image : url('belt.jpg');
	background-repeat : no-repeat;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

table.eventTable {
	width : 500px;
}

div.content {
	position : fixed;
	top : 120px;
	left : 250px;
}

div.event {
	padding : 10px;
	background-color : #EFEFEF;
}